.active {
    background-color: #173a9a;
    color: #fff;
}

.price {

}

@media screen and (max-width: 768px) {
    .price {
        font-size: 2.75rem;
        width: 240px;
    }

    .inputPrice {
        width: 260px;
    }


}

@media screen and (max-width: 340px) {
    .width300 {
        width: 300px;
    }

    .widthText {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .width300 {
        width: 280px;
    }

    .widthText {
        font-size: 14px;
    }
}